<h2>Contact Us</h2>
<hr />

<div class="row">
    <div class="col-6">
        <h4>แผนที่</h4>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.1881213786883!2d100.67810407455703!3d13.646317799728005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d5e5b12e8ad07%3A0x9da175acb9b8d719!2z4LmA4Lih4LiB4Liy4Lia4Liy4LiH4LiZ4Liy!5e0!3m2!1sth!2sth!4v1724744014175!5m2!1sth!2sth"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="row">
                <h4>ที่ตั้งร้าน</h4>
                <div class="col-3">

                </div>
                <div class="col-9">
                    <p>38, 38/1-3 39 หมู่ที่ 6 ทางคู่ขนาน ถนนบางนา-ตราด ตำบล บางแก้ว อำเภอบางพลี สมุทรปราการ 10540
                    </p>
                </div>
            </div>
            <h4 class="mt-4">เบอร์โทร</h4>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-9">
                    <p>02-105-1000
                    </p>
                </div>
            </div>
            <h4 class="mt-4">Social Media</h4>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-9">
                    <a href="https://icons.getbootstrap.com/" target="_blank">
                        <i class="bi bi-facebook" style="font-size: 50px;"></i>
                    </a>
                    <a href="https://icons.getbootstrap.com/" target="_blank">
                        <i class="bi bi-instagram" style="font-size: 50px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>