<h2>เกี่ยวกับเรา</h2>
<hr />
<h3>ประวัติร้าน</h3>
<div class="row">
  <div class="col-4">
  </div>
  <div class="col-8">
    <p>
      บ้านจุนตาเปิดประตูต้อนรับลูกค้าครั้งแรกเมื่อปี 2024
      ด้วยความตั้งใจที่จะสร้างประสบการณ์การรับประทานอาหารที่อบอุ่นและเป็นกันเองในบรรยากาศที่เหมาะสำหรับครอบครัวและเพื่อนฝูง
      ร้านของเราตั้งอยู่ในใจกลางเมือง กรุงเทพ
      และได้รวบรวมเมนูอาหารไทยและอาหารนานาชาติที่หลากหลายเพื่อรองรับทุกความชอบของลูกค้า

      เราภูมิใจในการคัดสรรวัตถุดิบที่สดใหม่และคุณภาพสูงเพื่อนำมาปรุงอาหาร
      ซึ่งสะท้อนถึงความตั้งใจในการนำเสนอรสชาติที่ยอดเยี่ยมและบริการที่เป็นมิตร
      บ้านจุนตาได้กลายเป็นจุดหมายปลายทางที่ชื่นชอบของลูกค้าทั้งคนท้องถิ่นและนักท่องเที่ยว

      ตลอดระยะเวลาที่ผ่านมา ร้านของเราได้มีการขยายเมนูและปรับปรุงบริการอย่างต่อเนื่อง
      เพื่อให้แน่ใจว่าลูกค้าจะได้รับประสบการณ์ที่ดีที่สุด นอกจากนี้เรายังมีการจัดกิจกรรมพิเศษและโปรโมชั่นต่างๆ
      เพื่อเพิ่มความพึงพอใจให้กับลูกค้าทุกท่าน

      ด้วยความมุ่งมั่นที่จะเป็นส่วนหนึ่งในความทรงจำที่ดีของคุณ
      บ้านจุนตาจึงยินดีต้อนรับคุณสู่ประสบการณ์การรับประทานอาหารที่ไม่เหมือนใคร และหวังว่าจะได้บริการคุณในทุกๆ โอกาส
    </p>
  </div>
</div>
<h3>พนักงานของเรา</h3>
<div class="row">
  <div class="col-4">

  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              ทดสอบ ทดสอบ
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              ทดสูบ ทดสูบ
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              ทดสด ทดสด
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              ทดสิบ ทดสิบ
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>