.carousel-inner img{
    height: 500px; /* Set the desired height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    width: 100%; /* Ensures the image stretches to fit the width */
}
.carousel-caption{
    bottom: 1%; /* Adjust as needed */
    left: 0;
    right: 0;
    margin: 0 auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}